Antlr3.Runtime.dll
Antlr3.Runtime.pdb
ApplicationInsights.config
AspNet.ScriptManager.bootstrap.dll
AspNet.ScriptManager.jQuery.dll
Microsoft.AI.Agent.Intercept.dll
Microsoft.AI.DependencyCollector.dll
Microsoft.AI.DependencyCollector.xml
Microsoft.AI.PerfCounterCollector.dll
Microsoft.AI.ServerTelemetryChannel.dll
Microsoft.AI.ServerTelemetryChannel.xml
Microsoft.AI.Web.dll
Microsoft.AI.Web.xml
Microsoft.AI.WindowsServer.dll
Microsoft.AI.WindowsServer.xml
Microsoft.ApplicationInsights.dll
Microsoft.ApplicationInsights.xml
Microsoft.AspNet.FriendlyUrls.dll
Microsoft.AspNet.FriendlyUrls.xml
Microsoft.AspNet.Web.Optimization.WebForms.dll
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Microsoft.ScriptManager.MSAjax.dll
Microsoft.ScriptManager.WebForms.dll
Microsoft.Web.Infrastructure.dll
Newtonsoft.Json.dll
Newtonsoft.Json.xml
System.Web.Optimization.dll
System.Web.Optimization.xml
WebApplication1.dll
WebApplication1.dll.config
WebApplication1.pdb
WebGrease.dll
Microsoft.Build.Tasks.CodeAnalysis.dll
Microsoft.CSharp.Core.targets
Microsoft.CodeAnalysis.CSharp.Scripting.dll
Microsoft.CodeAnalysis.CSharp.dll
Microsoft.CodeAnalysis.Scripting.dll
Microsoft.CodeAnalysis.VisualBasic.dll
Microsoft.CodeAnalysis.dll
Microsoft.DiaSymReader.Native.amd64.dll
Microsoft.DiaSymReader.Native.x86.dll
Microsoft.VisualBasic.Core.targets
System.AppContext.dll
System.Collections.Immutable.dll
System.Diagnostics.StackTrace.dll
System.IO.FileSystem.Primitives.dll
System.IO.FileSystem.dll
System.Reflection.Metadata.dll
VBCSCompiler.exe
VBCSCompiler.exe.config
csc.exe
csc.exe.config
csc.rsp
csi.exe
csi.rsp
vbc.exe
vbc.exe.config
vbc.rsp
CoreCompileInputs.cache
DesignTimeResolveAssemblyReferencesInput.cache
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApplication1.csproj.FileListAbsolute.txt
WebApplication1.csprojResolveAssemblyReference.cache
.vs
